{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventure</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Page CSS -->
    {% block extra_css %}{% endblock %}
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
        <div class="container-fluid">

            <a class="navbar-brand" href="{% url 'home' %}">Eventure</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">

                <div class="me-auto"></div>
                <!-- User dropdown -->
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle user-icon" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="bi bi-person-circle"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end">
                        {% if user.is_authenticated %}
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                        <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <!-- Bootstrap JS (only once) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Page JS -->
    {% block extra_js %}{% endblock %}

</body>
</html>