{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}

<br>
<div class="container">
    <div class="jumbotron">

        {% if registered %}
        <div class="card card-body">
            <h1>Thank you for Registration</h1>
            <p>Please proceed to <a href="{% url 'login' %}">Login</a></p>
        </div>
        {% else %}
        <h1 class="register-title">Create Your Account</h1>
        <p class="register-subtitle">Fill in your details</p>

        <!-- <h1>Registration Form</h1> -->
        <div class="card register-card">
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <p class="form-label">Username</p>
                        {{form.username}}
                    </div>
                    <div class="col">
                        <p class="form-label">Email</p>
                        {{form.email}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="form-label">Phone</p>
                        {{form1.phone}}
                    </div>
                    <div class="col">
                        <p class="form-label">House_no</p>
                        {{form1.house_no}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="form-label">Street</p>
                        {{form1.street}}
                    </div>
                    <div class="col">
                        <p class="form-label">City</p>
                        {{form1.city}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="form-label">State</p>
                        {{form1.state}}
                    </div>
                    <div class="col">
                        <p class="form-label">Zipcode</p>
                        {{form1.zipcode}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="form-label">Password</p>
                        {{form.password}}
                    </div>
                    <div class="col">
                        <p class="form-label">Profile_pic</p>
                        {{form1.profile_pic}}
                    </div>
                </div>
                <br>
                {{ form1.captcha }}
                <br>
                <input type="submit" value="Register" class="btn btn-success">
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}