{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/update.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="update-card">
        <h1 class="update-title">Update Profile</h1>

        <form action="{% url 'update' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            {{form1.as_p}}
            <input type="submit" class="btn btn-update" value="UPDATE">
        </form>
    </div>
</div>

{% endblock %}